.cabecalho{
    background-color:#21c424 ;
    color: #070000;
    display: flex;
    justify-content: space-around;
    font-family: Consolas;
}

.cabecalho-imagem{
    width: 20%;

}
body{
    margin:0px;
 
}
#img_redonda{
 height:50px;
 height: 260px;
 border-radius: 90%
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
}
#png_redonda{
    height:50px;
    height: 260px;
    border-radius: 50%
   }

.cabecalho{
    background-image: linear-gradient(#23ef31,#1d0808);
    display: flex;
}
   